body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: left;
    background-color: #fff;
  }

  .barraLateral{
    width: 15rem;
    background-color: #D74B1F;
    color: white;
    padding: 1rem;
    height: 100vh;
    position: fixed;
  }
  .logo{
    width: 8rem;
    filter: drop-shadow(2px 4px 6px white);
  }

  .sidebar-dark .nav-item .nav-link {
    color: rgba(255,255,255,.8);
  }
.nav-item{
    cursor: pointer;
}
  .nav-item:hover {
    background-color: #c83b10e2;

  }
  .opciones{
    margin-left: 16rem;
  }
  .btn-primary {
    background-color: #D74B1F!important;
}
  
  .page-item.active .page-link {
    background-color: #D74B1F!important;
  }
  .border-left-primary{
border-color: #D74B1F;
border-left:10px solid;
  }
  .icono{
    color: #D74B1F;
  }
  .card{
    border-color: #D74B1F;
    
  }
  .menuDesplegable{
color:#fff;
background-color: #D74B1F!important;

  }